table {
    width:100%;
}

thead {
    text-transform:uppercase;
    text-align:center;
}

.dataTables_filter{
    margin-bottom:10px;
}

#table-cursos td:nth-child(4){
    width:12% !important;
}

.acoes button {
    color:#FFFFFF;
}

.acoes button:hover {
    color:#FFFFFF;
}
