body {
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   padding: 40px;
}

.navbar-navegacao {
    border-radius: 5px;
    font-size: 20px;
    padding:10px 15px;
}

#barraNavegacao{
    justify-content: flex-end;
}

.navbar-navegacao li {
    padding-left:10px;
    text-transform: uppercase;
}

.titulo{
    text-transform: uppercase;
    font-weight: 400;
    text-align:center;
    margin-top:10px;
}